body {

 margin: 0;
 padding: 0;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#usuario{
 text-align: center;
 
}
#spa{
 font-size: 40px;
 color:red;
}
#inicio{
  background-image: url("../img/register.jpg");
  background-size: cover;
  background-position: center;
  
}
#dentro{
  text-align: center;
}
h4{
  color: black;
  font-size: 40px;
 
}
#inf{
  font-weight:500;
  font-size: 30px;
  color: black;
  border: white;
}

#cards{
  background: #FFEEEE;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #DDEFBB, #FFEEEE);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #DDEFBB, #FFEEEE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

#form{
  margin-top: 30px;
  margin-bottom: 30px;
  initial-letter: 15px;
  text-align: center;
}