
#container{
    background: #fffc00;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffffff, #fffc00);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffffff, #fffc00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
h1{
    font-size: 70px;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    
   color: orangered;
}
h2{
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
h3{
    font-size: 40px;
    font-style: italic;
    font: bold;
    color: black;
    
}
#dul{
    height: 480px;
    opacity: 0.75;
}
#duls{
    height:480px;
    opacity: 0.75;
}
#pal{
    width: 80px;
    height: 80px;
    position: relative;
}
#car{
    font-size: 30px;
    font-style: italic;
    font: bold;
    color: black;
}

#fondod{
    background-image: url("../img/bolitas.jpg");
    background-size: cover;
    background-position: center;
}
#card{
    margin: 15px;
}

#cardT{
   
    width: 100%;
    height: 350px;
   
}

